.btnSubmit {
  width: 25%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  background-color: #6600ff;
  margin-top: 2%;
}

.main h3 {
  text-align: center;
  color: #333;
}

.main input {
  margin-top: 2%;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.invalid-textbox {
  border-left: 5px solid #a94442; /* red */
}
