.sign-container {
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 50%;
}
.sign-form {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.sign-form h3 {
  text-align: center;
  color: #333;
}
.sign-container form {
  padding: 10%;
}

.form-control {
  margin-top: 3%;
}
